/* FONTES IMPORTADAS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* DECLARAÇÃO DE VARIÁVEIS */
:root {
    --corPreta : #141821;
    --corBranca: #fff;
    --corAzulPrimaria: #008FFB;
    --corVerdePrimaria: #2F887C;
    --corAmarelaPrimaria: #FFC736;
    --corMagentaPrimaria: #FF4E79;
    --corCinzaPrimaria: #697078;
    --corCinzaSecundaria: #EEEFF0;
    --corAzulSecundaria: #CCE9FE;
    --corVerdeSecundaria: #EBF7ED;
    --corAmarelaSecundaria: #FFF4D7;
    --corMagentaSecundaria: #FFDCE4;
}

/* PREPARANDO O TERRENO */
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    display: block;
}

body {
    margin: 0;
    background-color: #fff;
}

h1, h2, h3, p {
    margin: 0;
    color: var(--corPreta), #000;
}

/* NAVEGAÇÃO */
.navContainer {
    background-color: var(--corCinzaSecundaria);
    display: block;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    position: sticky; /* AcCOMPANHA POR TODO O SITE */
    top: 0px;
    z-index: 1;
    transition: background-color 0.4s ease-in-out;
}

header.scrolled {
    background-color: var(--corBranca);
    box-shadow: 0 0 1rem 0 rgba(105, 112, 120, 0.4);
}

.navBarra {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 100%;
}

.navHamburger_ativacao {
    display: hidden;
    z-index: 9999;
}

.navLista {
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    list-style: none;
    width: 100%;
    
}

.navItens {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    flex-direction: column;
    position: relative;
}


    /* LOGOTIPO NA NAVEGAÇÃO */
.logo {
    height: 27px;
    margin-left: 0px !important;
}

.navItens_logo {
    margin-right: 0.75rem !important;
    margin-left: 0 !important;
    flex-direction: column;
    position: relative;
}

    /* LINKS NA NAVEGAÇÃO */
.navLinks {
    border: none;
    padding: 0.5rem 0;
    display: inline-block;
    position: relative;
    color: var(--corPreta);
    cursor: pointer;
    text-decoration: none;
    
}

.navLinks:hover {
    color: var(--corAzulPrimaria);
}

    /* SETAS E MENU DROPDOWN */
.navLinks div {
    display: inline-flex;
    align-items: center;
}

.navSetinha {
    width: 0.75rem;
    margin-left: 0.3125rem;
}

.navDropdown {
    position: relative;
    display: inline-block;
}


.navDropdown_containerVac, .navDropdown_containerFale {
    display: none;
    position: absolute;
    overflow: hidden;
    background-color: var(--corBranca);
    box-shadow: 0px 8px 16px 0px rgba(105, 112, 120, 0.2);
    white-space: nowrap; /* IMPEDE A QUEBRA DE LINHA DOS LINKS */
    border-top: 3px solid var(--corAzulPrimaria);
}

.show {
    display: block; /* CLASSE SERÁ ADICIONA COM JAVASCRIPT EM NAVDROPDOWN_CONTAINER */
}

.navDropdown_lista {
    padding: 0.75rem 0px;
    margin: 0;
    align-items: center;
    display: list-item;
    list-style: none;
    width: 100%;
}

.navDropdown_links {
    border: none;
    color: var(--corPreta);
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1px;
    padding: 1rem 0px;
}

.navDropdown_links:hover {
    color: var(--corAzulPrimaria)
}

    /* BOTÕES NA NAVEGAÇÃO */
.navItens_BotaoLogIn {
    margin-left: auto;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.navItens_botaoLogIn::before {
    content: "";
    display: flex;
    flex-grow: 1;
}

.botaoLogIn {
    background-color: var(--corCinzaSecundaria);
    color: var(--corPreta);
    padding: 0.75rem 1rem;
    border-radius: 8px;
}

.botaoLogIn:hover {
    background-color: rgba(105, 112, 120, 20%);
    color: var(--corPreta);
}

.navItens_CriarConta {
    margin-right: 0 !important;
}

.botaoCriarConta {
    background-color: var(--corAzulPrimaria);
    color: var(--corBranca) !important;
    padding: 0.75rem 1rem;
    border-radius: 8px;
}

.botaoCriarConta:hover {
    background-color: var(--corMagentaPrimaria);
}

/* SEÇÃO HERO */
.heroSection {
    background-image: linear-gradient(var(--corCinzaSecundaria),
    var(--corBranca));
}

.heroIndex {
    display: flex;
    padding: 0;
    max-height: calc(100vh - 4.4375rem);
}

.heroIndex_conteudo {
    background-color: transparent;
    width: 50vw;
    position: relative;
    /* display: flex; */
    /* padding-left: 5.5rem;
    padding-right: 5.5rem; */
    
}

.heroIndex_conteudoTitulo {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
}

.heroIndex_conteudoTitulo h1 {
    font-size: 3.125rem;
    color: var(--corPreta);
    display: flex;
    margin-top: 2rem;
    letter-spacing: 0.075em;
}

.heroIndex_slogan {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--corPreta);
    display: flex;
    margin: 1rem 0 2rem 0;
}

.formTitulo {
    margin-top: 1rem;
    color: var(--corPreta);
    font-weight: 400;
}

.formLogin {
    display: grid;
    row-gap: 1rem;
    padding-left: 0rem;
}

.formLogin span {
    margin-top: 1rem;
}

.formLogin input {
    border: 1px solid var(--corCinzaPrimaria);
    border-radius: 5px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--corCinzaPrimaria);
    background-color: var(--corBranca);
}

.btn_criarConta {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    height: 40px;
    min-width: 40px;
    border-radius: 5px;
    background-color: var(--corAzulPrimaria);
    /* border: 2px solid var(--corCinzaPrimaria); */
    font-size: 1rem;
    font-weight: 600;
    color: var(--corBranca);
}

.btn_criarConta:hover {
    background-color: var(--corMagentaPrimaria);
}

.heroIndex_imagemContainer {
    position: relative;
    width: 50vw;
    padding: 0rem 0rem 0rem 0rem;
    /* min-height: 100vh; */
    overflow: clip;
}

.heroIndex_imagem {
    position: relative;
    object-fit: cover;
    height: 100%;
    width: auto;
    /* left: -11rem; */
}

/* SEÇÕES DA PÁGINA PRINCIPAL */
.sectionMain {
    background-color: var(--corBranca);
}

/* .sectionMain_margemTopo {
    margin-top: 3rem;
} */

.containerMain {
    display: flex;
    width: 100%;
    /* height: calc(100vh - 4.4375rem); */
    /* padding: 4rem 6rem 0; */
}

.conteudoMetade {
    width: 50vw;
    position: relative;
    padding-left: 4rem ;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloMain {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.paragrafoMain {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.2rem;
}

.conteudoMetade .paragrafoMain {
    padding-right: 6rem;
}

.imagemMetade {
    width: 50vw;
    position: relative;
    padding: 0;
}

.imagemMetade_moldura {
    position: relative;
    overflow: visible;
    width: 100%;
    height: 100%;
    display: flex;
}

.imagemMetade_voFeliz {
    position: relative;
    /* height: 85vh; */
    width: 40vw;
    /* top: -3rem; */
    left: -1rem;
    margin-left: auto;
    margin-right: auto;  
}

/* SEÇÃO - ACOMPANHE QUEM VOCÊ AMA */

.inteiroContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: calc(100vh - 4.4375rem); */
    margin-inline: auto;
}

.inteiroContainer .containerMain {
    /* height: 100%; */
    padding-top: 1rem;
}

.tituloMain_centro {
    display: block;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: var(--corPreta);
}

.subtituloMain_centro {
    display: block;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;

}

.conteudoMetade_direito {
    width: 50vw;
    position: relative;
    padding: 0 6rem 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudoMetade_direito .paragrafoMain {
    display: block;
    width: 100%;
}

.conteudoMetade_direito small {
    font-size: 0.625;
    font-weight: 400;
}


.imagemMetade_acompanhe {
    overflow: visible;
    position: relative;
    /* height: 72vh; */
    width: 38vw;
    /* top: 0rem; */
    left: 3rem;
    margin-inline: auto; 
}

.btnMain {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    background-color: var(--corAmarelaPrimaria);
    color: var(--corBranca);
    font-size: 1.5rem;
    font-weight: 600;
    transform: translateY( 0rem );
    transition: 0.2s ease-in-out;
}

.btnMain:hover {
    background-color: var(--corMagentaPrimaria);
    transform: translateY( -.25rem );
    transition: 0.1s ease-in-out;
}

/* COMO FUNCIONA */
.sectionMain_cinza {
    background-color: var(--corCinzaSecundaria);
}

.columnEmergencial {
    flex-direction: column;
}

.containerTitulo_grid {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--corCinzaPrimaria);
}

.containerGrid_comoFunciona {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    /* height: 55vh; */
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.subGrid_comoFunciona {
    display: grid;
    position: relative;
    grid-template-rows: minamx(auto);
    width: 100%;
    padding: 0 3rem;
    border-right: 1px solid var(--corCinzaPrimaria)
}

.subGrid_comoFunciona:first-of-type {
    padding-left : 0rem;
}

.subGrid_comoFunciona:last-of-type {
    padding-right: 0rem;
    border: 0;
}

.subGrid_iconMoldura {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.subGrid_icon {
    object-fit: scale-down;
    position: relative;
    /* height: 6rem; */
    width: 6rem;
    margin-inline: auto;
}

.subGrid_tituloContainer {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.subGrid_titulo {
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--corPreta), #000;
    text-align: center;
}

.subGrid_paragrafoContainer {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.subGrid_paragrafoContainer .paragrafoMain {
    font-size: 1rem;
    text-align: center;
}

/* RODAPÉ */
footer {
    background-color: var(--corPreta);
}

.footerGrid {
    padding: 2rem 6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.footerGrid_sub {
    grid-column-end: span 4;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: min-content;
}

.footerTitulo {
    font-size: 1rem;
    font-weight: 600;
    color: var(--corAzulPrimaria);
    margin-top: 0;
    margin-bottom: 0.75rem;
    line-height: 1.5;
}

.footerLista {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    display: block;  
}

.footerLista_itens {
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem 0;
}

.footerLink {
    color: var(--corBranca);
    padding: 0;
    font-size: inherit;
    text-decoration: none;
}

.footerLink:hover {
    color: var(--corMagentaPrimaria);
    font-weight: 600;
}

    /* RODAPÉ - ÍCONES DE REDES SOCIAIS */
.footerLogoSocial{
    position: relative;
    display: flex;
    padding: 2rem 6rem 0;
}

.footerLogo {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
}

.footerLogo_img {
    height: 27px;
    position: relative;
}

.footerSocial {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.footerSocial ul {
    list-style-type: none;
    display: inline-flex;
    flex-direction: row-reverse;
}

.footerSocial ul li {
    display: inline-block;
}

.footerIcons {
    color: var(--corBranca);
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 1rem;
}

.footerIcons:hover {
    color: var(--corMagentaPrimaria);
}

    /* RODAPÉ - BAIXE NOSSO APP */
.footerBaixeApp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 1rem 6rem 6rem;
}

.footerBaixeApp_wrap {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items:flex-end;
}

.footerBaixeApp .footerTitulo {
    display: block;
    color: var(--corAzulPrimaria);
    text-align: right;
    margin-bottom: 2rem;
}

.footerBaixeApp_link {
    background-color: var(--corMagentaPrimaria);
    color: var(--corBranca);
    padding: 0.75rem 1rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 1.5rem;
}

.footerBaixeApp_link:hover {
    font-weight: 600;
}

.footerBaixeApp_link span {
    margin-left: 0.2rem;
}


/* CLASSES PARA RESPONSIVIDADE */
/* CLASSES PARA ACIMA DE 1440PX (DESKTOPS) */
.paddingLateral {
    padding-left: 6rem;
    padding-right: 6rem;
}

.paddingLateral_nav {
    padding-left: 6rem;
    padding-right: 6rem;
}

.paddingLateral_heroForm {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
}

/* CLASSES PARA ACIMA DE 1200PX (NOTEBOOK PEQUENO) */

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
    
    .paddingLateral {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .paddingLateral_heroForm {
        padding-left: 5.5rem;
        padding-right: 5.5rem;
    }

    
    .heroIndex_conteudoTitulo {
        position: absolute;
        /* margin-top: -1.5rem; */
        left: -22rem;
        padding-right: 35rem;
    }

    .heroIndex_conteudoTitulo h1 {
        white-space: pre-line;
        margin-top: -1.5rem;
    }

    .heroIndex_slogan {
        white-space: pre-line;
        margin-top: -1.2rem;
    }

    .formTitulo {
        margin-top: 3rem;
    }

}



/* CLASSES PARA ACIMA DE 768PX (TABLET) */

@media only screen and (min-width: 768px) and (max-width: 1199px) {

    .paddingLateral {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .paddingLateral_heroForm {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
}

/* CLASSES PARA CELULARES */

@media only screen and (max-width: 767px) {

    .paddingLateral {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .paddingLateral_nav {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .paddingLateral_heroForm {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    /* NAVEGAÇÃO MOBILE */
    
    .navContainer {
        align-items: center;
        display: flex;
    }

    .navBarra {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .navHamburger_ativacao {
        padding-block: 0;
        padding-inline: 0;
        display: block;
        position: absolute;
        background: url(./_imagens_padroesWEB_siteSVU/menuHamburger.png);
        background-size: 100%;
        /* background-color: var(--corAzulPrimaria); */
        background-repeat: no-repeat;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        right: 1rem;
        top: 1.315rem;
    }

    .navHamburger_ativacao[aria-expanded="true"] {
        background: url(./_imagens_padroesWEB_siteSVU/menuHamburger_fecha.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .navLista {
        position: sticky;
        /* inset: 0 0 0 100%; */
        background: blue;
        height: 100vh;
        flex-direction: column;
        /* padding-top: 3rem; */
        transform: translate(100%);
    }

    .navLista[data-visible="true"] {
        transform: translateX(0%);
    }

    .navItens {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: 0;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 1.25rem;
        position: relative;
        width: 100%;
    }

    .navLinks {
        /* padding-left: 1.5rem;
        padding-right: 1.5rem; */
        margin: 0;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 1.25rem;
        position: relative;
        width: 100%;
    }

    .navDropdown {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .navDropdown .navLinks {
        width: 100%;
    }

    .navLinks  div {
        /* position: relative; */
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: space-between;
    }

    /* .navItens_logo {
        order: -3;
    } */

    .navItens:nth-of-type(6) {
        padding: 0;
        margin-bottom: 0;
        border-top: 1px solid var(--corCinzaPrimaria);
    }

    .navItens_BotaoLogIn {
        margin-left: 0rem;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        margin-top: 1rem;
        /* order: -2; */
    }

    .botaoLogIn {
        width: 100%;
        background-color: transparent;
        padding: 1rem 0;
        text-align: center;
    }

    .navItens:last-of-type {
        padding: 0;
        margin: 0;
    }

    .navItens_botaoLogIn::before {
        content: "";
        display: flex;
        flex-grow: 0  ;
    }

    .navItens_CriarConta {
        margin-right: 0 !important;
        margin-left: 0 !important;
        /* order: -1; */
    }

    .botaoCriarConta {
        width: 100%;
        padding: 1rem 0;
        text-align: center;
    }

}